<div>
  <img class="media-object" src="{{moviePoster}}" alt="{{movie.Title}}">
</div>
<span>  </span>
<div></div>
<div></div>
<ul style="margin: 10px,10px,0px,0px">
  <li>
     Actors: {{movie.Actors}}
  </li>
  <li>
     Director: {{movie.Director}}
  </li>
  <li>
     Country: {{movie.Country}}
   </li>
  <li>
    Genre: {{movie.Genre}}
  </li>
  <li>
    Runtime: {{movie.Runtime}}
  </li>
  <li>
    Released {{movie.Released}}
  </li>
  <li>
    imdbRating: {{movie.imdbRating}}
  </li>
  <li>
    Plot: {{movie.Plot}}
  </li>
</ul>