<h2 style="margin:0px,0px,10px,0px">Select Movie for Rental</h2>
<form ngNativeValidate (ngSubmit)="submit()">
    <div style="margin: 10px,0px,0px,0px" class="form-group">
        <label for="title">Title</label>
        <select required id="title" class="form-control" name="name" (change) = "onTitleChange()" [(ngModel)] = "selectedMovie">
          <option value=""></option>
          <option *ngFor="let m of movies" value="{{m.id}}">{{m.name}}</option>
        </select>
      </div>
      <div>
          <button class="btn btn-primary">Rent</button>
      </div>
</form>