<h1>Add New Movie blahahaha</h1>
<form>
  <!-- <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" class="form-control">
  </div> -->
    <div class="form-group">
        <label for="title">Title</label>
        <select id="title" class="form-control" name="name" (change) = "onTitleChange()" [(ngModel)] = "selectedMovie">
          <option value=""></option>
          <option *ngFor="let m of movies" value="{{m.name}}">{{m.name}}</option>
        </select>
      </div>
</form>